@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");


*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
    --basic-width: 270px;
    --responsive-width: 345px;
}

body {
    margin: 0;
    font-family: "Open Sans";
}

ul{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

main {
    margin-top: 50px;
    text-align: center;
}

.time-output {
    margin-top: 60px;
    font-size: 21px;
}

footer {
    position: fixed;
    width: 100%;
    margin: 0;
    bottom: 0;
}

.footer-content {
    width: 80%;
    font-size: 12px;
    color: gray;
}